{% extends 'base.html' %}

{% load static %}

{% block title %} Listeler {% endblock %}


{% block head %}{% endblock %}


{% block content %}

<div class="container mt-4">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">

                        
          <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                   <div class="profile mr-3"><img src="{% static 'images/list-1.jpg' %}"  width="140" class="rounded mb-2 img-thumbnail">
                    </div>
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div><a class="name" href="javascript:void(0)">#Teknoloji</a></div>

                </div>



                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Takip ediliyor</button>
                  </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                   <div class="profile mr-3"><img src="{% static 'images/list-2.jpg' %}"  width="140" class="rounded mb-2 img-thumbnail">
                    </div>
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div><a class="name" href="javascript:void(0)">#Haber</a></div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Takip ediliyor</button>
                  </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                   <div class="profile mr-3"><img src="{% static 'images/list-3.jpg' %}"  width="140" class="rounded mb-2 img-thumbnail">
                    </div>
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div><a class="name" href="javascript:void(0)">#Bilim</a></div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Takip ediliyor</button>
                  </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                   <div class="profile mr-3"><img src="{% static 'images/list-4.jpg' %}"  width="140" class="rounded mb-2 img-thumbnail">
                    </div>
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div><a class="name" href="javascript:void(0)">#Kültürel</a></div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Takip ediliyor</button>
                  </div>
              </div>
            </li>


            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                   <div class="profile mr-3"><img src="{% static 'images/list-5.jpg' %}"  width="140" class="rounded mb-2 img-thumbnail">
                    </div>
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div><a class="name" href="javascript:void(0)">#Akademik</a></div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Takip ediliyor</button>
                  </div>
              </div>
            </li>
           
                
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
      


{% endblock content %}


