{% extends 'base.html' %}

{% load static %}

{% block title %} Gönderiler {% endblock %}


{% block head %}{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">

<div class="container posts-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="{% static 'images/user-3.jpg' %}" class="d-block ui-w-40 rounded-circle" alt="..." width="300">
                  <div class="media-body ml-3">
                    Emma Watson
                    <div class="text-muted small">2 saat önce</div>
                  </div>
                </div>
            
                <p>
                   Kalp herkeste var; yürek başka bir şey.
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <small class="align-middle">
                    <strong>75</strong> Beğeni</small>
                </a>
              </div>
            </div>
        </div>


 <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="{% static 'images/user-6.jpg' %}" class="d-block ui-w-40 rounded-circle" alt="..." width="300">
                  <div class="media-body ml-3">
                    Martin Freeman
                    <div class="text-muted small">5 saat önce</div>
                  </div>
                </div>
            
                <p>
                  Benim yaşayacağım ne varsa, seninle olsun istiyorum.
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <small class="align-middle">
                    <strong>123</strong> Beğeni </small>
                </a>

              </div>
              

            </div>
        </div>
    

<div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="{% static 'images/user-4.jpg' %}" class="d-block ui-w-40 rounded-circle" alt="..." width="300">
                  <div class="media-body ml-3">
                    Rupert Grint
                    <div class="text-muted small">1 gün önce</div>
                  </div>
                </div>
            
                <p>
                   Belki de hayat, yanlış anlayınca güzeldi.
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <small class="align-middle">
                    <strong>98</strong> Beğeni</small>
                </a>
         
              </div>
            </div>
        </div>
    

 <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="{% static 'images/user-7.jpg' %}" class="d-block ui-w-40 rounded-circle" alt="..." width="300">
                  <div class="media-body ml-3">
                    Liv Taylor
                    <div class="text-muted small">3 gün önce</div>
                  </div>
                </div>
            
                <p>
                  Küçücük hatıraların bıraktığı büyük anlamlar.
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <small class="align-middle">
                    <strong>110</strong> Beğeni</small>
                </a>
            
              </div>
            </div>
        </div>
    </div>
</div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 



{% endblock content %}