{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-4">

             <div class="col-md-6">
                 <div class="card mb-6">
                    <h6 class="card-header">Üye Ol <i class="fas fa-user-plus float-right"></i></h6>

                    <form class="border-0 m-3">
                        <div class="form-group">
                            <label for="exampleInputName">Adı Soyadı</label>
                            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputNickname">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="exampleInputNickname" aria-describedby="nickHelp">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Parola</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Üye Ol</button>
                    </form>
                </div>
        </div>
        </div>
    </div>


{% endblock content %}


